@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
html {
  height: 100%;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
body {
  background: url("./Images/Bg-Img.png") no-repeat center center/cover;
  font-family: "Lato", sans-serif;
  color: #100e0b;
  height: 100%;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 58px;
  text-align: center;
  color: #100e0b;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.button-outline {
  outline: none;
  border: 2px solid #888888;
  background-color: #ffffff;
  border-radius: 43px;
  padding: 9px 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.225px;
  color: #888888;
  cursor: pointer;
}
.button-color-outline {
  outline: none;
  border: 2px solid #ef5c50;
  background-color: #ffffff;
  border-radius: 43px;
  padding: 9px 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.225px;
  color: #ef5c50;
  cursor: pointer;
}
.main-intrest {
  width: 81%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  background: #ffffff;
  box-shadow: 0px 0px 24px rgba(183, 183, 183, 0.25);
}
.intrest-row-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.row-1-col-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 0.5rem;
  flex: 0.5;
}
.text p {
  cursor: pointer;
}
.row-2-col-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.heading-below p {
  color: #888888;
}

/* intrest-row-2 */
.intrest-row-2 {
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input {
  display: flex;
  flex: 1;
}
.search-box {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  box-shadow: 0px 0px 24px rgba(183, 183, 183, 0.25);
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  width: 80%;
}
.search-box input {
  width: 90%;
  outline: none;
  border: none;
}
.search-icon {
  background: #ef5c50;
  border-radius: 6px;
}
.search-icon .fa-search {
  color: #ffffff;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
}

/* intrest-row-3 */
.intrest-row-3 {
  background: #ffffff;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  box-shadow: 0px 0px 24px rgba(183, 183, 183, 0.25);
  border-radius: 8px;
  display: flex;
  margin-top: 20px;
  margin-left: 45px;
  margin-right: 45px;
  padding: 27px 15px;
  flex-direction: column;
  grid-row-gap: 2rem;
  overflow-y: scroll;
  max-height: 300px;
}
.row-buttons {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2rem;
  justify-content: center;
}

/* intrest-row-4 */
.intrest-row-4 {
  place-self: center;
  margin-top: 20px;
}
.intrest-row-4 button {
  border: none;
  outline: none;
  place-self: center;
  padding: 13px 50px;
  color: #ffffff;
  background-color: #ef5c50;
}

/* Media Queries */
@media (min-width: 1500px) {
  h1 {
    font-size: 40px;
  }
  body {
    font-size: 18px;
  }
  .row-buttons {
    grid-gap: 4rem;
  }
  .intrest-row-3 {
    margin-left: 100px;
    margin-right: 100px;
  }
  .button-outline {
    font-size: 18px;
  }
  .search-box {
    width: 67%;
  }
}
@media (min-width: 1680px) {
  h1 {
    font-size: 44px;
  }
  body {
    font-size: 20px;
  }
  .button-outline {
    font-size: 18px;
  }
  .row-buttons {
    grid-gap: 6rem;
  }
  .intrest-row-3 {
    margin-left: 140px;
    margin-right: 140px;
  }
  .button-outline {
    font-size: 18px;
  }
  .intrest-row-3 {
    grid-row-gap: 3rem;
  }
}
@media (min-width: 1780px) {
  h1 {
    font-size: 48px;
  }
  .intrest-row-3 {
    margin-left: 170px;
    margin-right: 170px;
  }
  .button-outline {
    font-size: 18px;
  }
}

/* Max-width */
@media (max-width: 1100px) {
  h1 {
    font-size: 30px;
  }
  .button-outline,
  .button-color-outline {
    font-size: 14px;
    padding: 7px 18px;
  }
  .intrest-row-3 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .intrest-row-4 button {
    padding: 10px 50px;
  }
}

@media (max-width: 630px) {
  .intrest-row-3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  h1 {
    font-size: 27px;
    line-height: 44px;
  }
  .intrest-row-1 {
    flex-direction: column;
  }
  .row-2-col-2 {
    place-self: center;
  }
  .button-outline,
  .button-color-outline {
    font-size: 12px;
    padding: 7px 15px;
  }
  .intrest-row-4 button {
    padding: 10px 36px;
  }
  .search-icon .fa-search {
    padding: 10px;
    font-size: 14px;
  }
  .search-box {
    width: 90%;
    flex-wrap: wrap;
  }
}
