@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 32px;
  overflow-x: hidden;
}

/* To Make Circular Image */
.clip-path {
  clip-path: circle(50% at 50% 50%);
  width: 54px;
  height: 56px;
  border: 2px solid #ef5c50;
  border-radius: 50px;
}

.nav-item .active-nav-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ef5c50;
}
.nav-item a {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #100e0b;
  text-decoration: none;
  transition: color 0.5s;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ef5c50;
}
ul {
  list-style: none;
}

.container {
  width: 95%;
  max-width: 1920px;
  margin: auto;
}
/* navbar */
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}
.navbar {
  padding: 0px 40px;
  background: #ffffff;
  box-shadow: 0px 2px 24px rgba(183, 183, 183, 0.25);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chevron {
  margin-left: 14px;
}
.fa-chevron-down {
  color: #ef5c50;
}
.input-class {
  border: 1px solid #979caa;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 3px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.input-2 {
  display: none;
}
.display-none {
  display: none;
}
.input-class-2 {
  border: 1px solid #979caa;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 3px 16px;
  display: none;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.input {
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
::placeholder {
  opacity: 0.5;
}
.logo-search {
  border-right: 1px solid #ef5c50;
}
.fa-search {
  padding: 10px;
  color: #ffffff;
  border-radius: 6px;
  font-size: 15px;
  background-color: #ef5c50;
  border: 1px solid;
  cursor: pointer;
  margin-right: 15px;
}
.filter {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #979caa;
  margin-left: 16px;
  cursor: pointer;
}
.logo {
  width: 53px;
  height: 60px;
  max-width: 100%;
}
.main-nav ul {
  display: flex;
  align-items: center;
}
.main-nav ul li {
  padding-right: 60px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* Buttons */
.button {
  outline: none;
  background-color: #ef5c50;
  border: 2px solid #ef5c50;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 13px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.225px;
  color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.5s;
}
.button:hover {
  background-color: #f74636;
}
.button-outline {
  outline: none;
  box-sizing: border-box;
  border: 2px solid #ef5c50;
  color: #ef5c50;
  background-color: #fff;
  border-radius: 43px;
  padding: 11px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.225px;
  cursor: pointer;
}

.button-outline-different {
  outline: none;
  border: 1px solid #9edfdd;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 10px 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  cursor: pointer;
}
/* Texts  */

/* Small Text */
.small-text {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #979caa;
  text-align: justify;
}
/* Big Text */
.big-text {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #100e0b;
}

/* Medium Text */
.medium-text {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #888888;
}

/* Main Profile Page */
.main-profile-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 110px;
}

/* links-profile */
.links-profile {
  margin-bottom: 25px;
}
.blue-text {
  color: #0080ff;
}

/* profile-page-section-one */
.profile-page-section-one {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(183, 183, 183, 0.25);
  border-radius: 8px;
  padding: 30px 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.row-1-sec-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profile-image {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 3.7rem;
}
.image img {
  width: 100%;
  height: auto;
}
.profile-info {
  display: flex;
  flex-direction: column;
}
.country {
  margin-top: 22px;
}
.role {
  margin-top: 10px;
}
.role h2 {
  color: #100e0b;
}
.follow {
  margin-top: 17px;
}
.email,
.phone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.phone {
  margin-top: 10px;
}
#email::before {
  content: url("./Images/Ellipse\ 1.svg");
  margin-right: 10px;
}
#phone::before {
  content: url("./Images/Ellipse\ 1.svg");
  margin-right: 10px;
}

/* row-2-sec-1 */
.row-2-sec-1 {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.research-text h1 {
  color: #100e0b;
}
.buttons-research {
  display: grid;
  justify-items: end;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
}

/* profile-page-section-two */
.profile-page-section-two,
.profile-page-section-three {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(183, 183, 183, 0.25);
  border-radius: 8px;
  padding: 35px 25px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.saved-projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.text-saved-proj {
  margin-right: 40px;
}
.job-box {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(183, 183, 183, 0.25);
  border-radius: 8px;
  margin-top: 35px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-gap: 3rem;
}
.saved-proj-job-2 {
  margin-top: 20px;
}
.job-box-sec1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.img-box {
  margin-right: 10px;
}
.img-box img {
  width: 100%;
  height: 100%;
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  object-fit: contain;
}
.text-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.text-header h3 {
  color: #100e0b;
  font-weight: 600;
}
.text-simple {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #888888;
  margin-top: 10px;
}
.text-different {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #979caa;
  margin-top: 10px;
}
.delete .text-different::before {
  content: url("./Images/Vector.svg");
  position: relative;
  top: 3px;
  margin-right: 8px;
}
.delete {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.delete :hover {
  color: #100e0b;
}
.job-sec-2 {
  display: flex;
  flex-direction: column;
}
.keywords h4,
.domain h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #100e0b;
}
.keywords p,
.domain p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #979caa;
}
.domain {
  margin-top: 20px;
}
.job-sec-3 {
  display: flex;
  flex-direction: column;
}
.job-sec-3 .ip-type {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #100e0b;
}
.ip-type ul li {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #979caa;
  list-style: circle;
  margin-top: 10px;
}
.range-slider {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.slider-div {
  border: 2px solid #888888;
  width: 100%;
  border-radius: 50px;
  height: 0;
  margin-left: 6px;
  margin-right: 6px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.slider-no {
  padding: 4px 5px;
  border-radius: 20px;
  background-color: #fcd965;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 12px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.5s;
}
.slider-no:hover {
  background-color: #ffe89b;
}
.readlines p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #100e0b;
  margin-top: 20px;
}
.number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 12px;
  color: #979caa;
}
.heading-oppor {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #100e0b;
}
.buttons-oppor {
  display: flex;
  flex-direction: column;
}
.oppor {
  outline: none;
  border: 1px solid #fcd965;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #979caa;
  padding: 5px 17px;
  margin-top: 10px;
  background-color: #ffffff;
}

/* Footer */
.container-footer {
  width: 90%;
  max-width: 1920px;
  margin: auto;
}
.footer {
  margin-top: 60px;
  background-color: #ef5c50;
  padding-bottom: 12px;
}
.main-footer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
.footer-sec-1 {
  margin-top: 10px;
}
.footer-sec-1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  width: 67%;
}
.img-footer img {
  width: 216px;
  height: 80px;
}
.logo-footer {
  margin-top: 20px;
}
.logo-footer img {
  width: 32px;
  height: 32px;
  margin-right: 18px;
}
.footer-sec-2,
.footer-sec-3 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 50px;
  border-left: 1px solid #ffffff;
}
.footer-sec-2 h2,
.footer-sec-3 h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 8px;
}
.footer-sec-2 ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 8px;
}
.footer-sec-3 p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.divider-footer {
  border: 1px solid #ffffff;
}

/* Footer-bottom */
.footer-bottom {
  padding: 10px 0px;
  background-color: #ef5c50;
}
.flex-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-bottom p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

/* Media Queries */
@media (min-width: 1750px) {
  .job-box {
    grid-gap: 6rem;
  }
}
@media (min-width: 1850px) {
  .job-box {
    grid-gap: 8rem;
  }
}
@media (min-width: 1600px) {
  .big-text {
    font-size: 32px;
  }
  .medium-text {
    font-size: 24px;
  }
  .small-text {
    font-size: 20px;
  }
  .button-outline-different {
    font-size: 16px;
    padding: 14px;
  }
  .input-class {
    width: 28%;
    justify-content: space-between;
  }
  .profile-page-section-one,
  .profile-page-section-two,
  .profile-page-section-three {
    padding: 40px;
  }
}

@media only screen and (max-width: 1158px) {
  .main-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 250px;
    height: 100vh;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .main-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .main-nav ul li {
    padding-right: 0px;
  }
  .row-1-sec-1 {
    grid-gap: 2.5rem;
    flex-direction: column;
  }
  .row-2-sec-1 {
    grid-gap: 1rem;
  }
  .email,
  .phone {
    grid-template-columns: 1fr 4fr;
  }
  .job-box {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
  .job-box-sec1 {
    flex-direction: column;
  }
  .main-footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 946px) {
  .row-2-sec-1 {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 2rem;
    margin-top: 40px;
  }
}

@media (max-width: 764px) {
  .buttons-research {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}
@media (max-width: 600px) {
  .job-box {
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
  }
  .profile-page-section-two,
  .profile-page-section-three {
    padding: 35px 13px;
  }
  .input-class {
    display: none;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .input-2 {
    display: flex;
    flex-direction: column;
  }
  .stretch {
    border-bottom: 1px solid #100e0b;
  }
  .logo-search {
    border: none;
    align-self: flex-end;
    margin-top: 5px;
  }
  .filter-search {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .buttons-research {
    grid-template-columns: repeat(2, 1fr);
  }
  .email,
  .phone {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  .text-saved-proj {
    margin: 0;
  }
  .saved-projects {
    flex-direction: column;
    grid-gap: 0.7rem;
  }
}
